.login,
.register,
.companies.new {
	.body-content .inner {
		max-width: 500px;
		margin: 0 auto;
	}

	h1 {
		margin: 15px 0;
	}

	form {
		background: $white;
		border: $border;
		border-radius: 2px;
		box-shadow: $box-shadow;
		padding: 30px 20px 15px;
		font-size: 14px;
		.button {
			margin: 10px 0;
		}
	}
}
