.button {
	background: transparent;
	border: $border;
	border-radius: 2px;
	text-align: center;
	transition: $default-transition;

	&.button-large {
		font-weight: 200;
		padding: 13px 23px;
	}

	&.button-primary {
		background: $brand-primary;
		border: 1px solid darken($brand-primary, 5%);
		border: none;
		color: $white;
		font-size: 10px;
		letter-spacing: 3px;
		text-transform: uppercase;

		&:hover {
			background: lighten($brand-primary, 5%);
			transition: $default-transition;
		}
	}

	&[disabled],
	&[disabled]:hover {
		background: #ddd;
		color: #f0f0f0;
	}
}