form {
	@extend %form;
}

.errors {
	background: #ff9292;
	color: #fff;
	margin-bottom: 20px;
	padding: 20px;

	span {
		display: block;
	}
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
	background: $white;
	border: $border;
	border-radius: 1px;
	display: block;
	font-size: 13px;
	margin: 0 0 8px;
	outline: none;
	padding: 8px 10px;
	transition: $default-transition;
	-webkit-appearance: none;
	width: 100%;

	&:focus {
		border: $border-focussed;
		transition: all 300ms ease;
	}

	&.has-error {
		border-color: $brand-danger;
	}
}
