.navbar {
	.inner {
		@extend .container;
	}

	.navbar-brand {
		padding-right: 15px;
	}

	.navbar-nav {
		> li > a {
			text-transform: uppercase;
			font-size: 11px;
			letter-spacing: 2px;
			font-weight: 700;
		}
	}
}
