%form {

	span {
		display: block;
		font-weight: 300;

		&.form-heading {
			font-size: 10px;
			font-weight: 700;
			letter-spacing: 2px;
			margin: 0 0 5px 2px;
			text-transform: uppercase;
		}

		&.help-block {
			color: $brand-danger;
			font-size: 12px;
		}
	}
}
