$shadow-colour: rgba(0, 0, 0, .05);
$white: #fff;

// Body
$body-bg: #fcfcfc;

// Borders
$border-colour: darken($body-bg, 10%);
$border: 1px solid $border-colour;
$border-focussed: 1px solid darken($body-bg, 25%);

// Box Shadow
$box-shadow: 0 1px 4px $shadow-colour;

// Brands
$brand-primary: #3097d1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Columns
$grid-gutter-width: 5px;

// Navbar
$navbar-default-bg: #373737;
$navbar-default-link-color: #7b7b7b;
$navbar-default-link-hover-color: $white;
$navbar-default-link-active-color: $white;

$dropdown-bg: #2f2f2f;
$dropdown-link-color: $white;
$dropdown-link-hover-color: $white;
$dropdown-divider-bg: #6a6a6a;
$dropdown-link-hover-bg: #373737;

// Transitions
$default-transition: all 300ms ease;

// Typography
$font-family-sans-serif: "Muli", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #666666;
$heading-one-size: 1.3em;