
// Fonts
@import url(https://fonts.googleapis.com/css?family=Muli:200,300,700);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Includes

// Placeholders
@import "placeholders/forms";

// Components
@import "components/buttons";
@import "components/forms";

// Layouts
@import "layouts/header";
@import "layouts/navigation";
@import "layouts/pages";
@import "layouts/footer";

// Pages
@import "pages/registration";

[v-cloak] {
	display: none;
	transition: all 300ms ease;
}

.body-content {
	.inner {
		@extend .container;
	}
}

h1 {
	font-size: $heading-one-size;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	padding: 0;
}